@import url('https://fonts.googleapis.com/css2?family=Moon+Dance&family=PT+Sans&family=Sofia+Sans+Semi+Condensed:ital,wght@1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@300&display=swap');

body {
    /*Construção da Pagina*/
    padding: 0;
    margin: 0;

    /*Fonte da Pagina*/
    font-size: 1em;
    font-family: 'Signika Negative', sans-serif;


    /*Cor de Fundo Gradient*/
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}

/*Animação do Gradient em Movimento*/
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

/*
** Formulario de Login **
*/

.login-form {
    background-color: white;
    border: 1px;
    margin: auto;
    margin-top: 10%;
    width: 400px;
    padding: 15px;
    
    text-align: center;
}

h1 {
    font-family: 'Moon Dance', cursive;
    cursor: default;
}

/* Inputs de Texto e Botão */
input {
    border-radius: 20px;
    border: none;
    padding: 10px;
    margin: 5px;
    width: 70%;
    border: 1px transparent solid;
}

input:hover, .login-button:hover{
    border: 1px black solid;
}

.login-button {
    padding: 15px;
    width: 30%;
    cursor: pointer;
}

/*Links*/

a:link, a:visited {
    text-decoration: none;
    color: #333FFF;
}